h1{color:white;font-family:sans-serif;}
h2{font-family:sans-serif;}

.PL{
    background-color:#3F1052;
}
.arsenal{
    background-color:#f00000;
}
.liverpool{
    background-color:#dc0714;
}
.man-united{
    background-color:#d81920;
}
.chelsea{
    background-color:#001489;
}
.man-city{
    background-color:#6caee0;
}
.tottenham{ 
    background-color:#e1d961;
}
.aston-villa{
    background-color:#7D1142;
}
.brentford{
    background-color:#C61D23;
}
.brighton{
    background-color:#0054A6;
}
.burnley{
    background-color:#81204C;
}
.crystal-palace{
    background-color:#EB302E;
}
.everton{
    background-color:#00369c;
}
.leeds-united{
    background-color:#FDCB00;
}
.leicester-city{
    background-color:#273E8A;
}
.newcastle{
    background-color:#383838;
}
.norwich-city{
    background-color:#00A94F;
}
.southampton{
    background-color:#D71920;
}
.watford{
    background-color:#FFEE00;
}
.westham{
    background-color:#7D2C3B;
}
.wolverhampton{
    background-color:#F9A01B;
}
.box{
    display:flex;
    width:100%;
    height:120px;
    justify-content:center;
    align-items:center;
}
.box1{
    display:flex;
    justify-content:center;
}
.pic{
    position:relative;
    top:20px;
    width:120px;
}
.pic1{
    position:relative;
    top:60px;
    width:120px;
}
.pic2{
    position:relative;
    top:1px;
    width:120px;
}
.semiblack{
    background-color:#172030;
}
.position{
    font-family:sans-serif;
}
.containerrr{
    width:100%;
    height: 120px;
}
.containerr{
    width:100%;
    height:200px;
}
.container1{
    display:grid;
    /*gap:5px;*/
    grid-template-columns:auto auto auto;
    justify-content: space-evenly;
}
.container2{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    display:grid;
    /*width:100%;*/
    grid-template-columns:6cm 6cm 6cm 6cm 6cm ;
    grid-template-rows:7.3cm 7.3cm 7.3cm 7.3cm 7.3cm;
    grid-gap:20px;
    padding:20px 80px 0px 80px;
}
.plname{
    padding: 5px;
    font-size:28px;
    text-align:center;
    font-family:sans-serif;
    /*color:#3F1052;*/
}
.image{
    width:350px;
    height:230px;
}
.image1{
    width:250px;
    height:250px;
}
.image2{
    width:6cm;
    height:3.65cm;
}
.address{
    color:#76766f;;
}
.zoom:hover{
    transform:scale(1.1);
    transition:all 0.3s;
}
