/* Start Header */
.header {
    background-color: white;
    position: relative;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
  }
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }
  .header .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 767px) {
    .header .logo {
      width: 100%;
      height: 50px;
    }
}
/* start search */
.dropbtn {
  margin-top: 20%;
  background-color:var(--main-color);
  border-radius: 20px;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .dropbtn {
    margin: auto;
  }
}
.dropbtn:hover {
  background-color: #ddd;
  border-radius: 20px;
  color: black;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('../images/searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 15px;
}

#myInput:focus {outline: 1px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid white;
  border-radius: 15px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 10px;}

.show {display:block;}
/* end search */

  .header .main-nav {
    display: flex;
  }
  @media (max-width: 767px) {
    .header .main-nav {
      margin: auto;
    }
  }
  .header .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
    border-radius: 3px;
  }
  .header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    transition: 0.1s;
  }
  @media (max-width: 767px) {
    .header .main-nav > li > a {
      padding: 10px;
      font-size: 14px;
      height: 40px;
    }
  }
  .header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
    border-top: 3px solid var(--main-color);
    border-radius: 3px;
  }
  .header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
  }
  @media (max-width: 767px) {
    .header .mega-menu {
      flex-direction: column;
      gap: 0;
      padding: 5px;
    }
  }
  .header .mega-menu .image img {
    width: 200px;
    max-width: 100%;
    
  }
  @media (max-width: 991px) {
    .header .mega-menu .image {
      display: none;
    }
  }
  .header .mega-menu .links {
    min-width: 250px;
    flex: 1;
  }
  .header .mega-menu .links li {
    position: relative;
  }
  .header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
  }
  @media (max-width: 767px) {
    .header .mega-menu .links:first-of-type li:last-child {
      border-bottom: 1px solid #e9e6e6;
    }
  }
  .header .mega-menu .links li:hover {
    background-color: var(--section-background);
    border-radius: 6px;
  }
  .header .mega-menu .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
  }
  .header .mega-menu .links li a i {
    margin-right: 10px;
  }
  /* End Header */

/* Main */
main > header.hero {
    position: relative;
    z-index: 1;
}

    main > header.hero > .background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        z-index: -1;
        opacity: 0.2;
        background-image: url('./images/match.jpg');
    }

main section.matches {
    padding: 2rem;
    margin-bottom: 2rem;
}

    main section.matches > time {
        font-size: 1.8rem;
        display: block;
        padding-bottom: 2rem;
        color: var(--active-text-color);
    }

    main section.matches > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        border-top: 1px solid var(--separator-color);
    }

        main section.matches > ul > li > a {
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            border-bottom: 1px dotted var(--separator-color);
        }

            main section.matches > ul > li > a:hover,
            main section.matches > ul > li > a:focus {
                background: linear-gradient(270deg,var(--active-text-color),var(--active-row-background-color) 45%);
                color: var(--white);
                cursor: pointer;
                text-decoration: none;
            }

                main section.matches > ul > li > a:hover > i,
                main section.matches > ul > li > a:focus > i {
                    padding-right: 0;
                }

                main section.matches > ul > li > a:hover > div:first-of-type > div > span,
                main section.matches > ul > li > a:focus > div:first-of-type > div > span {
                    color: var(--white);
                }

            main section.matches > ul > li > a > i {
                transition: padding-right 0.2s;
                padding-right: 0.5rem;
            }

            main section.matches > ul > li > a > div {
                align-items: center;
                gap: 1rem;
                justify-content: center;
            }

                main section.matches > ul > li > a > div:first-of-type {
                    flex: 0 0 40%;
                }

                    main section.matches > ul > li > a > div:first-of-type > div:first-of-type {
                        flex: 1;
                        justify-content: flex-end;
                        --gap: 0.25rem;
                    }

                    main section.matches > ul > li > a > div:first-of-type > div:nth-of-type(3) {
                        flex: 1;
                        justify-content: left;
                        --gap: 0.25rem;
                    }

                    main section.matches > ul > li > a > div:first-of-type > div > span {
                        font-size: 1.5rem;
                        color: var(--active-text-color);
                    }

                    main section.matches > ul > li > a > div:first-of-type > div > img {
                        width: 2rem;
                        height: 2rem;
                    }

                    main section.matches > ul > li > a > div:first-of-type > .score.flex {
                        padding: 0.5rem;
                        font-size: 1.3rem;
                        color: var(--white);
                        background-color: var(--active-text-color);
                        position: relative;
                        --gap: 1rem;
                    }

                        main section.matches > ul > li > a > div:first-of-type > .score.flex:before {
                            content: "";
                            display: block;
                            width: 0.1rem;
                            height: calc(100% - 1rem);
                            top: 0.5rem;
                            background: hsla(0,0%,100%,.2);
                            position: absolute;
                            left: 50%;
                        }

                        main section.matches > ul > li > a > div:first-of-type > .score.flex > span {
                            color: inherit;
                        }

                main section.matches > ul > li > a > div:nth-of-type(2) {
                    justify-content: start;
                    flex: 1;
                }

                    main section.matches > ul > li > a > div:nth-of-type(2) > img {
                        width: 2rem;
                        height: 2rem;
                    }

