/* Main */
main > header.hero {
    position: relative;
    z-index: 1;
}

    main > header.hero > .background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        z-index: -1;
        opacity: 0.2;
        background-image: url('./images/match.jpg');
    }

main section.matches {
    padding: 2rem;
    margin-bottom: 2rem;
}

    main section.matches > time {
        font-size: 1.8rem;
        display: block;
        padding-bottom: 2rem;
        color: var(--active-text-color);
    }

    main section.matches > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        border-top: 1px solid var(--separator-color);
    }

        main section.matches > ul > li > a {
            align-items: center;
            justify-content: space-between;
            padding: 1rem;
            border-bottom: 1px dotted var(--separator-color);
        }

            main section.matches > ul > li > a:hover,
            main section.matches > ul > li > a:focus {
                background: linear-gradient(270deg,var(--active-text-color),var(--active-row-background-color) 45%);
                color: var(--white);
                cursor: pointer;
                text-decoration: none;
            }

                main section.matches > ul > li > a:hover > i,
                main section.matches > ul > li > a:focus > i {
                    padding-right: 0;
                }

                main section.matches > ul > li > a:hover > div:first-of-type > div > span,
                main section.matches > ul > li > a:focus > div:first-of-type > div > span {
                    color: var(--white);
                }

            main section.matches > ul > li > a > i {
                transition: padding-right 0.2s;
                padding-right: 0.5rem;
            }

            main section.matches > ul > li > a > div {
                align-items: center;
                gap: 1rem;
                justify-content: center;
            }

                main section.matches > ul > li > a > div:first-of-type {
                    flex: 0 0 40%;
                }

                    main section.matches > ul > li > a > div:first-of-type > div:first-of-type {
                        flex: 1;
                        justify-content: flex-end;
                        --gap: 0.25rem;
                    }

                    main section.matches > ul > li > a > div:first-of-type > div:nth-of-type(3) {
                        flex: 1;
                        justify-content: left;
                        --gap: 0.25rem;
                    }

                    main section.matches > ul > li > a > div:first-of-type > div > span {
                        font-size: 1.5rem;
                        color: var(--active-text-color);
                    }

                    main section.matches > ul > li > a > div:first-of-type > div > img {
                        width: 2rem;
                        height: 2rem;
                    }

                    main section.matches > ul > li > a > div:first-of-type > .score.flex {
                        padding: 0.5rem;
                        font-size: 1.3rem;
                        color: var(--white);
                        background-color: var(--active-text-color);
                        position: relative;
                        --gap: 1rem;
                    }

                        main section.matches > ul > li > a > div:first-of-type > .score.flex:before {
                            content: "";
                            display: block;
                            width: 0.1rem;
                            height: calc(100% - 1rem);
                            top: 0.5rem;
                            background: hsla(0,0%,100%,.2);
                            position: absolute;
                            left: 50%;
                        }

                        main section.matches > ul > li > a > div:first-of-type > .score.flex > span {
                            color: inherit;
                        }

                main section.matches > ul > li > a > div:nth-of-type(2) {
                    justify-content: start;
                    flex: 1;
                }

                    main section.matches > ul > li > a > div:nth-of-type(2) > img {
                        width: 2rem;
                        height: 2rem;
                    }

